<p>eventbind works!</p>

<!-- <input type="text" value="myinputtext" (click)="onInputClick($event)"> -->
<!--"$event" is a reserve variable of angular-->
<!-- <button value="Laptop" (click) = "onAddCart($event)">Laptop </button>
<button value="TV" (click) = "onAddCart($event)" >TV </button>
<button value="Washing Machine" (click) = "onAddCart($event)" >Washing Machine</button>
<p>{{message}} </p>passing a variable 'message' , using interpolation -->
<input #inputInfo type="text" value="TESS" name="Bhavey">
<button (click) = "getInputInfo(inputInfo)">Get Info</button>
